language: cpp
compiler:
    - gcc
    - clang

before_install:
    - sudo pip install pyaml jinja2
    - pushd ..
    - wget "https://github.com/cpputest/cpputest.github.io/blob/master/releases/cpputest-3.6.tar.gz?raw=true" -O cpputest.tar.gz
    - tar -xzf cpputest.tar.gz 
    - cd cpputest-3.6/
    - ./configure
    - make
    - sudo make install
    - popd

    - git clone https://github.com/cvra/packager ../packager

before_script:
    - ../packager/packager.py
    - mkdir build/
    - cd build/
    - cmake ..

script: 
    - make
    - ./tests
